.address {
    gap: 20px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
        flex-direction: row;
        flex-basis: 50%;
    }

    &__icon {
        fill: var(--color-primary-light);
        margin-right: 10px;
    }

    &__icon:hover {
        fill: var(--color-brand);
    }

    &__link {
        color: var(--color-primary-light);
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
    }

    &__link:hover {
        color: var(--color-brand);
    }

    &__copyright {
        font-size: 14px;
        color: var(--color-secondary-dark);
    }

    &__list {
        flex-basis: 50%;
        margin-bottom: 10px;

        & li {
            margin-bottom: 10px;
            @media screen and (min-width: $bp-tablet) {
                margin-bottom: 0;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items:flex-start;
        @media screen and (min-width: $bp-tablet) {
            justify-content: left;
        }
    }
}
