.footer {
    background-image: url(../image/footer.png);
    background-color: #31261A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 32px 0;
    position: relative;

    &__container {
        gap: 20px;
        display: flex;
    }

    &__nav {
        gap: 20px;
        display: flex;
        flex-basis: 50%;
    }

    &__logo {
        flex-basis: 50%;
    }

    &::before {
        background-image: url('../image/breadwheat.png');
        width: 180px;
        height: 120px;
    }

    &::after {
        background-image: url('../image/Breadbig.png');
        width: 380px;
        height: 190px;
        right: 0;
    }

    &::before,
    &::after {
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
        content: '';
    }
}