.footer {
    text-align: center;
    background-image: url(../image/footer.png);
    background-color: #31261A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 32px 0;
    position: relative;

    @media screen and (min-width: $bp-tablet) {
            text-align: left;
        }

    &__container {
        gap: 20px;
        display: flex;
        flex-direction: column;
        
        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            flex-basis: 50%;
        }
    }

    &__nav {
        gap: 20px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            flex-basis: 50%;
        }
    }

    &__logo {
        flex-basis: 50%;
    }

    &::before {
        background-image: url('../image/breadwheat.png');
        width: 180px;
        height: 120px;
        display: none;
        @media screen and (min-width: $bp-tablet) {
            display: block;
        }
    }

    &::after {
        background-image: url('../image/Breadbig.png');
        width: 380px;
        height: 190px;
        right: 0;
        display: none;
        @media screen and (min-width: $bp-tablet) {
            display: block;
        }
    }

    &::before,
    &::after {
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
        content: '';
    }

    &__menu li {
        margin-bottom: 10px;
    }
}